/* @settings
name: Minimal Edge
id: your-theme-id
settings:
  - 
    id: background-theme
    title: Background Theme
    type: class-select
    allowEmpty: false
    default: default-theme
    options:
      - 
        label: Default 
        value: default-theme
      - 
        label: Warm 
        value: warm-theme
      - 
        label: Eclipse 
        value: eclipse-theme
  - 
    id: enable-modal-blur
    title: Enable Modal Background Blur
    description: Toggle blur effect on modal backgrounds
    type: class-toggle
    default: false
  - 
    id: modal-blur-amount
    title: Modal Background Blur Amount
    description: Set the blur amount for modal backgrounds (in pixels)
    type: variable-number
    default: 3
    min: 0
    max: 20
    step: 1
    format: px
*/



/* Light mode themes */
body.theme-light.default-theme {
    --background-primary: #e4ddd3;
    --background-secondary: #EAE4DD;
    --text-normal: #333;
    --background-modifier-border: var(--border-size) solid #796e6e47;
    
}

body.theme-light.warm-theme {
    --background-primary: #f1dbc0  ;
    --background-secondary: #faf0e8;
    --text-normal: #705757;
    --icon-color: #705757;
    --text-muted: #6d5c5c;
    --text-faint: #2d2121;
    --text-accent: #a0662fdf;
    --background-modifier-border: var(--border-size) solid #99755f;
}

body.theme-light.eclipse-theme {
    --background-primary: #f6f6f6;
    --background-secondary: #ffffff;
    --text-normal: #494949;
    --text-faint: #939393;
    --text-accent: #1cb6ca;
    --icon-color: #797c6d;
    --background-modifier-border: var(--border-size) solid #9b9b9b;

}

/* Dark mode themes */
body.theme-dark.default-theme {
    --background-primary: #20242b;
    --background-secondary: #252933;
    --text-normal: #8f93a1;
    --border-color:var(--border-size) solid ;

}


body.theme-dark.warm-theme {
    --background-primary: #2a2420;
    --background-secondary: #312b26;
    --text-normal: #b3a59a;
    --icon-color: #705757;
    --text-accent: #c57021;
    --background-modifier-border: var(--border-size) solid #554a40;


}

body.theme-dark.eclipse-theme {
    --background-primary: #1a1c1d;
    --background-secondary: #262729;
    --text-normal: #a6a8aa;
    --text-faint: #ffffff;
    --text-accent: #1cb6ca;
    --icon-color: #a6a6a6;
    --background-modifier-border: var(--border-size) solid #424242;

}

body {
    --icon-size: 18px;
    --icon-stroke: 2.2px;
    --icon-xs: 15px;
    --icon-l: 20px;
    --ribbon-width: 60px;
    --ribbon-padding: 10px;
    --tab-curve: 0px;
    --border-size: 1.7px;
    --custom-border-color: var(--border-color);
    --custom-border-size: calc(var(--border-size) * 1px);
    --custom-border: var(--border-size) solid var(--border-color);
}


.theme-dark {
    --background-primary: #20242b;
    --background-primary-alt: #20242b;
    --background-secondary: #252933;
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
    --background-modifier-success: #55af7f;
    --background-modifier-error: rgb(163, 82, 82);
    --background-modifier-error-rgb: 230, 135, 135;
    --background-modifier-error-hover: #d67474;
    --background-modifier-cover: rgba(0, 0, 0, 0.366);
    --background-modifier-border: var(--border-size) solid #6e72796d;
    --code-background: #2f3039;
    --code-keyword: #de895b;
    --code-normal: #a8aeb0;
    --code-operator: #b89cdd;
    --code-value: #e3b750;
    --code-function: #dcbb59;
    --code-property: #d29a8c;
    --code-string: #05a36e;
    --checkbox-marker-color: #fff;
    --checkbox-color: #c37a5b;
    --checkbox-color-hover: #d18c6e;
    --tab-background-active: #fbfbfa;
    --tab-outline-color: #7c7c7c37;
    --text-accent: #ba7e47;
    --text-accent-hover: #d18c6e;
    --text-normal: #8f93a1;
    --text-muted: #8e8e90;
    --text-faint: #999999;
    --text-error: #e75545;
    --text-error-hover: #f86959;
    --text-highlight-bg: rgba(255, 255, 0, 0.4);
    --text-selection: rgba(0, 122, 255, 0.15);
    --text-on-accent: #f2f2f2;
    --icon-color: #59607b;
    --interactive-normal: #dae1ef;
    --interactive-hover: #dbdbdc;
    --interactive-accent-rgb: 21, 146, 255;
    --interactive-accent-hover: hsl(var(--accent-h), calc(var(--accent-s) - 10%), calc(var(--accent-l) - 4%));
    --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
    --scrollbar-bg: #d9d3f7;
    --scrollbar-thumb-bg: #a9bdc64e;
    --panel-border-color: #dbdbdc;

}

.theme-light {
    --background-primary: #e4ddd3;
    --background-primary-alt: #EAE4DD;
    --background-secondary: #EAE4DD;
    --background-modifier-border: var(--border-size) solid #000;
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
    --background-modifier-success: #A4E7C3;
    --background-modifier-error: #e68787;
    --background-modifier-error-rgb: 230, 135, 135;
    --background-modifier-error-hover: #FF9494;
    --background-modifier-cover: rgba(0, 0, 0, 0.507);
    --code-background: #e2dcd5;
    --code-keyword: #de895b;
    --code-normal: #a8aeb0;
    --code-operator: #b89cdd;
    --code-value: #e3b750;
    --code-function: #dcbb59;
    --code-property: #d29a8c;
    --code-string: #05a36e;
    --checkbox-marker-color: #fff;
    --checkbox-color: #c37a5b;
    --checkbox-color-hover: #d18c6e;
    --tab-background-active: #fbfbfa;
    --tab-outline-color: #7c7c7c37;
    --text-accent: #985c35;
    --text-accent-hover: #bf7c50;
    --text-normal: #383a42;
    --text-muted: #8e8e90;
    --text-faint: #999999;
    --text-error: #ba6d64;
    --text-error-hover: #533232;
    --text-highlight-bg: rgba(84, 84, 56, 0.4);
    --text-selection: rgba(0, 122, 255, 0.15);
    --text-on-accent: #f2f2f2;
    --icon-color: #705757;
    --interactive-normal: #eaeaeb;
    --interactive-hover: #dbdbdc;
    --interactive-accent-rgb: 21, 146, 255;
    --interactive-accent-hover: hsl(var(--accent-h), calc(var(--accent-s) - 10%), calc(var(--accent-l) - 4%));
    --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
    --scrollbar-bg: #F7EED3;
    --scrollbar-thumb-bg: #c6bfa94e;
    --panel-border-color: #dbdbdc;
}


.workspace-leaf-content,
.nav-header,
.search-result-container.mod-global-search,
.tag-container {
    background-color: var(--background-secondary);
}

.theme-light .workspace,
.theme-dark .workspace {
    background-color: var(--background-primary);
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

.workspace-split.mod-horizontal,.mod-root .workspace-leaf  {
    margin: 12px;
}

.workspace-leaf-content{
    border: var(--background-modifier-border);
    border-radius: 10px;
    margin-bottom: 50px;
}

.workspace-tabs .workspace-leaf{
    background-color: var(--background-primary);
}

.mod-root .workspace-leaf {
    border-radius: 8px;
    margin-top: 14px;
    transition: all 0.3 ease-in-out;
}

.workspace-tabs .workspace-leaf .view-content,  .nav-header, .search-result-container.mod-global-search, .tag-container{
    background-color: var(--background-secondary);
}


/* Tab */

.workspace-tab-header.is-active {
    background-color: var(--tab-background-active);
    border: var(--background-modifier-border);
    box-shadow: none;
}

.theme-light .workspace-tab-header-container:not(.workspace-split) {
    align-items: center;
    position: relative;
    border: none;
    height: 60px;
    background-color: var(--accent-color-bg);
}

.theme-dark .workspace-tab-header-container:not(.workspace-split) {
    align-items: center;
    position: relative;
    border: none;
    height: 60px;
    background-color: var(--accent-color-bg_d);
}


.mod-root:not(.mod-left-split):not(.mod-right-split) .workspace-tabs:not(.mod-stacked) .workspace-tab-header.is-active {
    background-color: var(--background-secondary);
    height: 35px;
    border-radius: 5px;
    color: rgb(60, 60, 60);
    text-align: center !important;
}


.mod-root:not(.mod-left-split):not(.mod-right-split) .workspace-tabs:not(.mod-stacked) .workspace-tab-header {
    margin: 0 2.5px 5px 2.5px;
}




/* Header */


.view-header {
    background-color: var(--background-secondary);
    border-bottom: var(--background-modifier-border);
}

.is-focused .workspace-leaf.mod-active .view-header {
    background-color: var(--background-secondary);
}

.view-header-left {
    display: flex;
    align-items: center;
}

.view-header-nav-buttons {
    align-items: center;
    display: flex;
    gap: 5px;
}

.view-header-nav-buttons .clickable-icon {
    border: var(--background-modifier-border);
}

.view-header-title-container {
    border-left: var(--background-modifier-border);
    border-right: var(--background-modifier-border);
}

.mod-fade:not(.mod-at-end):after {
    background: transparent;
}

.status-bar {
    border: var(--background-modifier-border);
}




/* Ribbon */


.workspace-ribbon {
    margin-top: 20px;
    max-height: 600px;
    background-color: var(--background-secondary);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom:35px ;
}

.side-dock-settings, .side-dock-actions{
    margin-top: 25px;
    gap: 15px;
}

.nav-header{
    border-bottom: var(--background-modifier-border);
    padding: 12px;
}

.nav-files-container{
    background-color: var(--background-secondary);
}
.workspace-split.mod-horizontal {
    background-color: var(--background-primary);
    padding: 6px;
}

.workspace-ribbon.mod-left.is-collapsed,
.workspace-ribbon.mod-left {
    background-color: var(--background-secondary);
    margin-top: 10%;
    border-right:var(--background-modifier-border);
    border-bottom: var(--background-modifier-border);
    border-top: var(--background-modifier-border);
}

.workspace-ribbon.mod-left:before {
    display: none;
}

.workspace-ribbon .sidebar-toggle-button {
    top: 10%;
    height: 50px;
    background: var(--background-secondary);
    border-right: var(--background-modifier-border);
    border-bottom: var(--background-modifier-border);
    border-top: var(--background-modifier-border);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 50px;
}

.mod-left-split .workspace-tab-header-container-inner,
.mod-right-split .workspace-tab-header-container-inner {
    width: 100%;
}

.mod-left-split .workspace-tab-header,
.mod-right-split .workspace-tab-header {
    padding: 9px 6px;
    border: var(--background-modifier-border);
}

body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile {
    position: relative;
    border:var(--background-modifier-border);
    bottom: 30px;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
}

.workspace-split.mod-left-split>.workspace-leaf-resize-handle,
.workspace-split.mod-right-split>.workspace-leaf-resize-handle {
    border: none;
}

.is-hidden-frameless:not(.is-fullscreen) .workspace-tabs.mod-top-right-space .workspace-tab-header-container{
    padding-right: -1px;
}



/* Canvas */


.canvas-wrapper {
    background-color: var(--background-secondary);
}

.canvas-controls {
    border-radius: 10px;

}

.canvas-control-item {
    border-radius: 10px;
    cursor: pointer;
    box-shadow: none;
    display: flex;
    border: var(--background-modifier-border);
    margin-bottom: 10px;
    z-index: 10;
    color: var(--icon-color);
    background-color: var(--background-primary);
}

.canvas-control-group {
    box-shadow: none;
    background-color: transparent;
    border: none;
}


.canvas-control-item:last-child {
    border: var(--background-modifier-border);
}


.canvas-card-menu .canvas-card-menu-button{
    background-color: var(--background-primary);
    margin: 10px;
    border: var(--background-modifier-border);
    cursor: pointer;
    border-radius: 10px;    
    color: var(--icon-color);

}
.canvas-card-menu {
    background-color: transparent;
    box-shadow: none;
}

.canvas-node-container {
    box-shadow: none;
    border: var(--background-modifier-border);
}

.canvas-menu {
    border: var(--background-modifier-border);
}


/* Graph */

.graph-controls {
    position: absolute;
    border: var(--background-modifier-border);
    padding: 0;
    background-color: var(--background-primary);
}

.graph-controls.is-close {
    width: auto;
    background-color: var(--background-primary);
    border: var(--background-modifier-border);
}

.graph-controls:not(.is-close) {
    box-shadow: none;
    border: var(--background-modifier-border);
}





/* Menu */

.menu {
    border-radius:var(--background-modifier-border);;
    box-shadow: none;
    overflow: hidden;
}

.menu {
    border: var(--background-modifier-border);
    background-color: var(--background-primary);
}

.menu-separator {
    border-bottom:var(--background-modifier-border);
}







.prompt{
    animation: modalAnimation 0.1s ease-in;
    border: var(--background-modifier-border);
}

input.prompt-input:hover, input.prompt-input:focus, input.prompt-input:focus-visible{
    border-bottom: var(--background-modifier-border);
}

.prompt-instructions{
    border-top: var(--background-modifier-border);
    color: var(--text-muted);
}

/* MODAL */




.modal {
    border: var(--background-modifier-border);
    animation: modalAnimation 0.1s ease-in;
}

.modal-bg {
    background: var(--background-modifier-cover) !important;
}

body.enable-modal-blur .modal-bg {
    backdrop-filter: blur(var(--modal-blur-amount));
}
.modal.mod-settings .vertical-tab-header {
    border-right: var(--background-modifier-border);
}

.vertical-tab-header {
    padding: 10px;
}

.setting-item {
    border-top: 1px solid var(--text-muted);
}

.horizontal-tab-nav-item,
.vertical-tab-nav-item {
    cursor: pointer;
    padding: 10px;

}

.search-input-container input{
    border: var(--background-modifier-border);
}
select,
.dropdown {
    background-color: var(--background-secondary);
}

.community-item{
    border: var(--background-modifier-border);
}

body:not(.is-phone) .horizontal-tab-nav-item.is-active,
body:not(.is-phone) .vertical-tab-nav-item.is-active {
    padding: 10px;
    background-color: var(--background-primary);
    border: var(--background-modifier-border);
    color: var(--text-faint);
    cursor: pointer;
}

@keyframes modalAnimation {
    0% {
      opacity: 0;
      transform: translateX(10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

/* Titlebar */


.is-hidden-frameless:not(.is-fullscreen).is-focused .titlebar-button-container.mod-right {
    background-color: var(--background-primary);
    cursor: pointer;
}

.is-hidden-frameless:not(.is-fullscreen) .titlebar-button-container.mod-right {
    background-color: var(--background-primary);
}

.titlebar-inner {
    color: var(--background-primary);
}

.is-focused .titlebar-inner {
    color: var(--icon-color);
}
